<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="keywords" content="relay, crypto chat, secure messenger, conversation, social, encrypted, communication" />
    <meta name="description" content="Web application utilizing Relay for secure communication." />
    <meta name="subject" content="communication">
    <title>Relay | Secure Communication</title>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
    <script type="module" src="{{ url_for('static', filename='js/pages/sign-in.js')}}"></script>
</head>

<body class="authentication-page">
    <div class="main-layout card-bg-1">
        <div class="container d-flex flex-column">
            <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <h1 class="font-weight-bold">Sign into Relay</h1>
                    <p class="text-dark mb-3">Open source, and community driven encrypted communication. Check out the <a href="https://github.com/antonio-hickey/Relay" target="_blank">Github Repo</a>!</p>
                    <div id="status">
                    </div>
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="username" class="form-control form-control-md" id="username" placeholder="Enter your username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control form-control-md" id="password" placeholder="Enter your password">
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked="" id="checkbox-remember">
                            <label class="custom-control-label text-muted font-size-sm" for="checkbox-remember">Remember me</label>
                        </div>
                        <a class="font-size-sm" href="./reset-password.html">Reset password</a>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold" type="submit" id="sign-in-submit-btn">Sign in</button>
                    <p>Don't have an account? <a class="font-weight-semibold" href="./sign-up">Sign up</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
